<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--<include resource="org/springframework/boot/logging/logback/base.xml"/>-->
    <!--<logger name="hello" level="DEBUG" additivity="false">-->
        <!--<appender-ref ref="CONSOLE"/>-->
        <!--<appender-ref ref="FILE"/>-->
    <!--</logger>-->

    <!--<appender name="ES" class="ch.qos.logback.ext.loggly.LogglyAppender">-->
        <!--<endpointUrl>http://logstash.test/tests/test?pipeline=logback</endpointUrl>-->
        <!--<pattern>%m</pattern>-->
    <!--</appender>-->
    <!--<logger name="es" level="INFO" additivity="false">-->
        <!--<appender-ref ref="ES"/>-->
    <!--</logger>-->

    <!--<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">-->
        <!--<encoder class="net.logstash.logback.encoder.LogstashEncoder"/>-->
    <!--</appender>-->
    <!--<logger name="jsonLogger" additivity="false" level="DEBUG">-->
        <!--<appender-ref ref="consoleAppender"/>-->
    <!--</logger>-->
    <!--<root level="INFO">-->
        <!--<appender-ref ref="consoleAppender"/>-->
    <!--</root>-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
        <syslogHost>127.0.0.1</syslogHost>
        <facility>LOCAL0</facility>
        <port>514</port>
        <throwableExcluded>true</throwableExcluded>
        <suffixPattern>gs-rest-service %m thread:%t priority:%p category:%c exception:%exception</suffixPattern>
    </appender>

    <appender name="FILEROLLING"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>/tmp/rolling-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>1024KB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>logstash:5000</destination>

        <!-- encoder is required -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <logger name="hello" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILEROLLING" />
        <appender-ref ref="SYSLOG" />
        <appender-ref ref="stash" />
    </logger>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="stash" />
    </root>
</configuration>