<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="STDOUT_PATTERN" source="stdout.pattern"/>
    <springProperty name="FILE_NAMEPATTERN" source="file.namepattern"/>
    <springProperty name="FILE_MAXSIZE" source="file.maxsize"/>
    <springProperty name="FILE_MAXHISTORY" source="file.maxhistory"/>
    <springProperty name="FILE_SIZECAP" source="file.sizecap"/>
    <springProperty name="FILEROLLING_PATTERN" source="filerolling.pattern"/>
    <springProperty name="LOGSTASH_HOST" source="logstash.host"/>
    <springProperty name="LOGGER_NAME" source="logger.name"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${STDOUT_PATTERN}</Pattern>
        </layout>
    </appender>

    <appender name="FILEROLLING"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${FILE_NAMEPATTERN}</fileNamePattern>
            <maxFileSize>${FILE_MAXSIZE}</maxFileSize>
            <maxHistory>${FILE_MAXHISTORY}</maxHistory>
            <totalSizeCap>${FILE_SIZECAP}</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>${FILEROLLING_PATTERN}</Pattern>
        </encoder>
    </appender>

    <appender name="STASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${LOGSTASH_HOST}</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <logger name="${LOGGER_NAME}" level="${LOGGER_LEVEL:-DEBUG}" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILEROLLING" />
        <appender-ref ref="STASH" />
    </logger>

    <root level="${ROOT_LEVEL:-WARN}">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>